body {
    font-size: 14px;
}

* {
    font-family:  'lucida grande', tahoma, verdana, arial, sans-serif;
}

#loginDiv {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.login-box {
    width: 800px;
    height: 400px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 20px;
}

.login-box-head {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
}

.login-box-error-msg {
    border: 1px solid crimson;
    margin: 20px 0;
    padding: 10px;
    background-color: #ffebe8;
}

.login-box-form {
    width: 480px;
    height: auto;
    margin: 0 auto;
}

.login-box-form-item {
    width: 100%;
    margin: 10px 0;
    line-height: 25px;
    clear: both;
}

.login-box-form-label {
    width: 150px;
    font-weight: bold;
    display: block;
    float: left;
}

.login-box-form-input {
    width: 200px;
    line-height: 20px;
}

.login-box-form-button {
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
    background-color: #5b74a8;
    border: 1px solid #1a356e;
}